<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador Financeiro</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

    {% include 'navbar.html' %}

    <div class="container">
        <h1>Gerenciador Financeiro</h1>
        <p>Receita Mensal: <span id="receita">R$ 0.00</span></p>
        <p>Despesa Mensal: <span id="despesa">R$ 0.00</span></p>
        <p><strong>Saldo Geral:</strong> <span id="saldo">R$ 0.00</span></p>
    </div>

    <script>
        async function carregarTotais() {
            let response = await fetch('/totais'); // Busca os valores da API
            let totais = await response.json();

            document.getElementById("receita").innerText = totais.receita_mensal;
            document.getElementById("despesa").innerText = "- " + totais.despesa_mensal;
            document.getElementById("saldo").innerText = totais.saldo_geral;
        }

        carregarTotais(); // Chama a função ao carregar a página
    </script>

</body>
</html>
